branches/source-generator/MetaModels/real_metameta_model.xsd

<?xml version="1.0" encoding="iso-8859-1" ?>
<xs:schema id="real" targetNamespace="http://schema.real.com/schema/" xmlns="http://schema.real.com/schema/"
	attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="metamodel">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded" minOccurs="1">
				<xs:element name="include" type="xs:string" maxOccurs="unbounded" minOccurs="0" />
				<xs:element name="namespace" type="xs:string" maxOccurs="1" minOccurs="1" />
				<xs:element name="diagram">
					<xs:complexType>
						<xs:choice maxOccurs="unbounded" minOccurs="0">
							<xs:element name="node" type="logic_entity" />
							<xs:element name="edge" type="logic_entity" />
							<xs:element type="EnumType" name="enumType" />
						</xs:choice>
						<xs:attribute name="name" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="logic_entity">
		<xs:choice maxOccurs="2">
			<xs:element name="graphics" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" name="view">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="description" type="xs:string" maxOccurs="1" minOccurs="0" />
									<xs:choice maxOccurs="1" minOccurs="0">
										<xs:element name="svg_link" type="xs:string" />
										<xs:element name="svg_shape">
											<xs:complexType>
												<xs:sequence>
													<xs:any namespace="http://www.w3.org/2000/svg" minOccurs="1" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:choice>
									<xs:element name="repo_info" minOccurs="0" maxOccurs="1">
										<xs:complexType>
											<xs:sequence>
												<xs:any namespace="http://www.w3.org/html/" minOccurs="1" />
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="ports" minOccurs="0" maxOccurs="1">
										<xs:complexType>
											<xs:sequence minOccurs="1" maxOccurs="unbounded">
												<xs:choice maxOccurs="2">
													<xs:sequence maxOccurs="unbounded">
														<xs:element name="point_port" maxOccurs="unbounded">
															<xs:complexType>
																<xs:attribute name="x" type="xs:integer" />
																<xs:attribute name="y" type="xs:integer" />
															</xs:complexType>
														</xs:element>
													</xs:sequence>
													<xs:sequence maxOccurs="unbounded">
														<xs:element name="line_port" maxOccurs="unbounded">
															<xs:complexType>
																<xs:choice maxOccurs="2">
																	<xs:element name="start">
																		<xs:complexType>
																			<xs:attribute name="startx" type="xs:integer" />
																			<xs:attribute name="starty" type="xs:integer" />
																		</xs:complexType>
																	</xs:element>
																	<xs:element name="end">
																		<xs:complexType>
																			<xs:attribute name="endx" type="xs:integer" />
																			<xs:attribute name="endy" type="xs:integer" />
																		</xs:complexType>
																	</xs:element>
																</xs:choice>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:choice>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="line_type" minOccurs="0" maxOccurs="1">
										<xs:complexType>
											<xs:attribute name="type" type="line_type" use="required" />
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="logic" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:all minOccurs="0">
						<xs:element name="properties" minOccurs="0">
							<xs:complexType>
								<xs:sequence maxOccurs="unbounded">
									<xs:element maxOccurs="unbounded" name="property">
										<xs:complexType>
											<xs:all minOccurs="0">
												<xs:element name="description" type="xs:string" minOccurs="0" />
												<xs:element name="name" type="xs:string" minOccurs="0" />
												<xs:element name="type" type="data_type" minOccurs="0" />
												<xs:element name="enum" type="ref_elem" minOccurs="0" />
												<xs:element name="default" type="xs:string" minOccurs="0" />
												<xs:element name="ref" type="ref_elem" minOccurs="0" />
											</xs:all>
											<xs:attribute name="name" type="xs:string" use="optional" />
											<xs:attribute name="type" type="data_type" use="optional" />
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="associations" minOccurs="0">
							<xs:complexType>
								<xs:choice maxOccurs="unbounded" minOccurs="0">
									<xs:element maxOccurs="unbounded" name="assoc_ref" type="ref_elem"></xs:element>
									<xs:element name="association" type="association" />
								</xs:choice>
							</xs:complexType>
						</xs:element>
						<xs:element name="generalizations" minOccurs="0">
							<xs:complexType>
								<xs:sequence maxOccurs="unbounded">
									<xs:element name="generalization" minOccurs="1" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence maxOccurs="unbounded">
												<xs:element name="parent">
													<xs:complexType>
														<xs:sequence minOccurs="0">
															<xs:element name="inherits">
																<xs:complexType>
																	<xs:sequence minOccurs="0" maxOccurs="unbounded">
																		<xs:element name="inherited_container">
																			<xs:complexType>
																				<xs:sequence minOccurs="1" maxOccurs="unbounded">
																					<xs:element name="new_role" type="xs:string"></xs:element>
																				</xs:sequence>
																				<xs:attribute name="container_name" type="xs:string" />
																			</xs:complexType>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="redefines">
																<xs:complexType>
																	<xs:sequence minOccurs="0" maxOccurs="unbounded">
																		<xs:element name="redefined_container">
																			<xs:complexType>
																				<xs:sequence minOccurs="1" maxOccurs="unbounded">
																					<xs:element name="new_role" type="xs:string"></xs:element>
																				</xs:sequence>
																				<xs:attribute name="container_name" type="xs:string" />
																			</xs:complexType>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="parent_id" type="xs:IDREF" />
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="containers" minOccurs="0">
							<xs:complexType>
								<xs:choice minOccurs="0" maxOccurs="unbounded">
									<xs:element name="container" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:choice maxOccurs="1" minOccurs="1">
													<xs:element name="contains" maxOccurs="unbounded">
														<xs:complexType>
															<xs:all minOccurs="0" />
															<xs:attribute name="idref" type="xs:IDREF" use="required" />
															<xs:attribute name="min" type="xs:nonNegativeInteger" use="optional" />
															<xs:attribute name="max" type="xs:nonNegativeInteger" use="optional" />
															<xs:attribute name="unbounded" type="xs:string" fixed="true" use="optional" />
															<xs:attribute name="role" type="xs:string" use="optional" />
														</xs:complexType>
													</xs:element>
													<xs:element name="contained_by" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence />
															<xs:attribute name="idref" type="xs:IDREF" use="required" />
															<xs:attribute name="role" type="xs:string" use="optional" />
															<xs:attribute name="min" type="xs:nonNegativeInteger" use="optional" />
															<xs:attribute name="max" type="xs:nonNegativeInteger" use="optional" />
															<xs:attribute name="unbounded" type="xs:string" fixed="true" use="optional" />
														</xs:complexType>
													</xs:element>
												</xs:choice>
											</xs:sequence>
											<xs:attribute name="name" type="xs:string" use="required" />
											<xs:attribute name="inherited_from" type="xs:IDREF" />
										</xs:complexType>
									</xs:element>
								</xs:choice>
							</xs:complexType>
						</xs:element>
					</xs:all>
				</xs:complexType>
			</xs:element>
		</xs:choice>
		<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute name="id" type="xs:ID" use="required" />
	</xs:complexType>
	<xs:simpleType name="data_type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="int" />
			<xs:enumeration value="string" />
			<xs:enumeration value="bool" />
			<xs:enumeration value="positiveInt" />
			<xs:enumeration value="nonNegativeInt" />
			<xs:enumeration value="text" />
			<xs:enumeration value="enum" />
			<xs:enumeration value="ref" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="line_type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="noPen" />
			<xs:enumeration value="solidLine" />
			<xs:enumeration value="dashLine" />
			<xs:enumeration value="dotLine" />
			<xs:enumeration value="dashDotLine" />
			<xs:enumeration value="dashDotDotLine" />
			<xs:enumeration value="customDashLine" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="end_type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="arrow" />
			<xs:enumeration value="emtyRhomb" />
			<xs:enumeration value="filledRhomb" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="association">
		<xs:sequence minOccurs="1" maxOccurs="unbounded">
			<xs:element name="restrictions" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:all>
						<xs:element name="multiplicity">
							<xs:complexType>
								<xs:sequence />
								<xs:attribute name="min" type="xs:nonNegativeInteger" use="optional" />
								<xs:attribute name="max" type="xs:nonNegativeInteger" use="optional" />
							</xs:complexType>
						</xs:element>
						<xs:element name="other_end" type="ref_elem"></xs:element>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:choice>
				<xs:element name="begin" type="ref_elem" />
				<xs:element name="end" type="ref_elem" />
			</xs:choice>
			<!--<xs:element name="end_type" type="end_type" /> to add end_type = "none" -->
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required" />
		<xs:attribute name="labelled" type="xs:boolean" use="optional" />
		<xs:attribute name="multiplicity" type="xs:boolean" />
		<xs:attribute name="role" type="xs:string" use="optional" />
		<xs:attribute name="end_type" type="end_type" use="optional" />
	</xs:complexType>
	<xs:complexType name="ref_elem">
		<xs:sequence />
		<xs:attribute name="idref" type="xs:IDREF" />
	</xs:complexType>
	<xs:complexType name="EnumType">
		<xs:sequence>
			<xs:element name="enumValue" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute name="id" type="xs:ID" use="required" />
	</xs:complexType>
</xs:schema>